.containerNav {
    width: 100%;
    height: 80px;
    flex-wrap: wrap;
    font-family: "Happy Monkey", cursive;
    background: var(--bg-navbar);
    color: var(--light);
    position: fixed;
    z-index: 10;
}

.containerNav,
.listLinks,
.link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.listLinks {
    width: 35%;
    font-size: 18px;
}

.link {
    width: calc(100% / 5);
    cursor: pointer;
}

.logo {
    width: 10%;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
}