@import url("./vars.css");
@import url("./navBar.css");
@import url("./presentation.css");
@import url("./btnProject.css");
@import url("./btnExpertise.css");
@import url("./rectangle.css");
@import url("./triangle.css");
@import url("./ourExpertise.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainHome {
    font-family: "Montserrat", sans-serif;

}

section {
    min-height: 100vh;
}

.bloc {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    outline: none;
    cursor: pointer;
}

a {
    text-transform: none;
    color: inherit;
}

ul {
    list-style: none;
}