:root{
    --purple-blue: #2b2b62;
    --dark : black;
    --light: white;
    --pink-red: #c84b60;
    --yellow: #ddb352;
    --btn-content-color: #100b3d;
    --bg-navbar: #0e1742;
    --bg-container-expertise: #7c7caa;
    --bg-content-expertise: #3c3c69;
    --bg-our-expertise: #2d2d4e;
}